In [6]:
import pandas as pd

In [13]:
import psycopg2 as ps

In [19]:
con = ps.connect("dbname='sales_demo' user='postgres' host='localhost' password='#0724246005' ")

In [24]:
sales_df = pd.read_sql("select extract(month from s.created_at) as months,sum(case when extract(year from s.created_at) = 2017 then selling_price*quantity else 0 end) as totSales2017,sum(case when extract(year from s.created_at) = 2018 then selling_price*quantity else 0 end) as totSales2018,sum(case when extract(year from s.created_at) = 2019 then selling_price*quantity else 0 end) as totSales2019 from sales s join inventories as i on s.inv_id=i.item_id group by extract(month from s.created_at)order BY extract(month from s.created_at);",con)

In [26]:
sales_df.head()

   months  totsales2017  totsales2018  totsales2019
0     1.0       4575252       5710298       1898883
1     2.0       6161366      10237195             0
2     3.0       4963234       7345947             0
3     4.0       8857622       7273110             0
4     5.0       7952956       6459595             0